<h3>CAPTURA DE MOVIMIENTOS DE NOMINA</h3>
<form [formGroup]="FormMovimientos">

    <div class="form-group col-5">
        <label>Seleccione el Periodo Correspondiente :</label>
        <select class="form-control" formControlName="CvPeriodo">

            <option value="0" selected>--Seleccione Periodo Correspondiente--</option>
            <option [value]=periodo.cvPeriodo *ngFor="let periodo of Periodos">
                {{ periodo.descripcion }}
            </option>
        </select>
    </div>
    <div class="form-group col-5">
        <label>Selecciona el Nombre de Empleado :</label>
        <select class="form-control" formControlName="CvEmpleado">

            <option value="0" selected>--Seleccione el Empleado--</option>
            <option [value]=empleado.cvEmpleado *ngFor="let empleado of ListEmpleados">
                {{empleado.numeroEmpleado }} {{empleado.nombre}}
            </option>
        </select>
    </div>
    <div class="form-group col-5">
        <label>Numero de Entregas Realizadas :</label>
        <input type="number" class="form-control form-control-sm" formControlName="NumEntregas" />
    </div>
    <div class="form-group col-5">
        <label>Tipo de Empleado :</label>
        <select class="form-control" formControlName="CvTipoEmpleado">

            <option value="0" selected>--Seleccione Funcion que ejecuto el Empleado--</option>
            <option [value]=tipo.cvTipoEmpleado *ngFor="let tipo of TiposEmpleado">
                {{ tipo.nombreTipo }}
            </option>
        </select>
    </div>

    <div class="form-group col-5">
        <label>Si desea restar Horas coloque el numero aqui :</label>
        <input type="number" class="form-control form-control-sm" formControlName="Hdes" />
    </div>

    <button (click)="SetSaveMovimiento()" style="margin:1rem;">Guardar</button>
    <button style="margin:1rem;">Borrar</button>
    <button style="margin:1rem;">Salir</button>


</form>