<form [formGroup]="FormEmpleado">

  <div class="col-6">
    <div class="form-group col-2">
      <label>Clave :</label>
      <input type="text" class="form-control " readonly formControlName="CvEmpleado" />
    </div>
    <div class="form-group col-6">
      <label>Numero de Empleado :</label>
      <input #num (keyup)="GetRepet(num)" type="text" class="form-control" formControlName="NumeroEmpleado" />
    </div>

    <div class="form-group col-8">
      <label>Nombre de Empleado :</label>
      <input type="text" class="form-control " formControlName="Nombre" />
    </div>
    <button (click)="SetSaveEmpleado()" style="margin:1rem;">Guardar</button>

    <button [routerLink]="['/']">Salir</button>
  </div>




</form>
<div class="col-7">
  <h3>LISTADO DE EMPLEADOS</h3>

  <table class="table table-hover" style="font-size:12px;">
    <thead>
      <tr>
        <th>
          Clave Empleado
        <th>
          Num. Empleado
        </th>
        <th>
          Nombre de Empleado
        </th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="
      let empleado of ListEmpleados">

        <td>{{ empleado.cvEmpleado }}</td>
        <td>{{ empleado.numeroEmpleado }}</td>
        <td>{{ empleado.nombre }}</td>

        <td>
          <i (click)="SetDelEmpleado(empleado.cvEmpleado)" class="glyphicon glyphicon-trash" style="margin:1rem"></i>
          <i (click)="onSelectionChanged(empleado.cvEmpleado)" class="glyphicon glyphicon-pencil"></i>
        </td>

      </tr>
    </tbody>
  </table>

</div>